<br>
<br>
<br>
<br>
<br>
<br>

<div class="single-profile">

<h1><%= @user.name%>'s Profile</h1>


<% customer_restaurants = @user.restaurants.uniq %>
<ol>
  <% customer_restaurants.each do |rest| %>
    <li><a href="/restaurant/<%= rest.id%>"><%= rest.name %></a><br>
      <ul class="user-rating">
        <% user_id = @user.id %>
        <li>My Rating: <%= rest.ratings.find_by(user_id: user_id).rating %></li>
      </ul>
      <ol>
        <% rest.comments.each do |comment|%>
          <li><%= comment.text %></li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ol>
</div>