<div>
<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.rating %></h3>
</div>

<form action='/comments/new' method="post">
  <input type="hidden" name="comment[restaurant_id]" value="<%= @restaurant.id%>">
  <textarea name="comment[text]" placeholder="enter comment"></textarea><br>
  <input type="submit" value="leave comment">
</form>

  <% @restaurant.comments.each do |comment| %>
    <%= comment.text %><br>
  <% end %>


    <% @restaurant.customers.each do |cust| %>
      <%= cust.name %>
    <% end %>


