<br>
<br>
<br>
<br>
<br>
<br>

<!-- <div class="rest-container"> -->
  <div class="restaurant-header">
    <img src='<%= @restaurant.picture %>' width="145em" height="145em" class="rest-img">
    <div>
      <h1 class="restaurant-name"><%= @restaurant.name %></h1>
      <p class="rest-rating">Rating: <%= average_rating(@restaurant)%></p>
    </div>
  </div>

    <br>

  <div id="map-canvas"></div>

    <br>
    <br>

  <form action='/comments/new' method="post" class="comment-form">
    <input type="hidden" name="comment[restaurant_id]" value="<%= @restaurant.id%>">
    <input type="hidden" name="comment[user_id]" value="<%= session[:user_id]%>">
    <textarea name="comment[text]" placeholder="enter comment"></textarea><br>
    <input type="submit" value="leave comment">
  </form>

    <br>

  <div id="comments">
    <p>
    <% @restaurant.comments.each do |comment| %>
      <%= comment.text %><br>
      <span class="comment-author"></br>
        <%=comment.created_at.strftime("%b %d, %Y") %> | commented by:
        <a href="/profile/<%= session[:user_id]%>"><%= comment.user.name%></a>
      </span><br>
    <% end %>
    </p>
  </div>

  <br>
  <%= erb :_ratings %>
  <br>

  <div id="previous_diners">
    People who have eaten here before:
    <ol>
      <% customer_names = @restaurant.customers.uniq %>
        <% customer_names.each do |cust| %>
          <li><a href="/profile/<%= cust.id%>"><%= cust.name %></a></li>
        <% end %>
    </ol>
  </div>