<div class="container single-restaurant-container">
  <div id="map-canvas"></div>
<div class="restaurant-header col-sm-8 col-sm-offset-2 well">
    <img src='<%= @restaurant.picture %>' width="145em" height="145em" class="rest-img">
    <div>
      <h1 class="restaurant-name"><%= @restaurant.name %></h1>
      <p class="rest-rating">Rating: <%= average_rating(@restaurant)%></p>
    </div>

  <form action='/comments/new' method="post" class="comment-form">
    <input type="hidden" name="comment[restaurant_id]" value="<%= @restaurant.id%>">
    <input type="hidden" name="comment[user_id]" value="<%= session[:user_id]%>">
    <textarea name="comment[text]" placeholder="enter comment"></textarea><br>
    <button class="btn btn-success"type="submit" value="leave comment">Submit</button>
  </form>

  <div id="comments">
    <p>
    <% @restaurant.comments.each do |comment| %>
      <%= comment.text %><br>
      <span class="comment-author"></br>
        <%=comment.created_at.strftime("%b %d, %Y") %> | commented by:
        <a href="/profile/<%= session[:user_id]%>"><%= comment.user.name%></a>
      </span>
    <% end %>
    </p>
  </div>

  <%= erb :_ratings %>

  <div id="previous_diners">
    People who have eaten here before:
    <ul class="list-unstyled list-inline">
      <% customer_names = @restaurant.customers.uniq %>
        <% customer_names.each do |cust| %>
          <li><a href="/profile/<%= cust.id%>"><img src = "<%=Gravatar.new(cust.email).image_url%>"></a></li>
        <% end %>
    </ul>
  </div>
  </div>
</div>